<h1>JsonPlaceHolder API</h1>
<article>
<p><a target="_blank" href="https://jsonplaceholder.typicode.com/">JsonPlaceHolder.typicode.com</a>
 est une api gratuite qui permet de simuler le CRUD. 
 Plusieurs sous-api sont disponibles, j'ai choisi celles des Users.
 On ne ne peux pas rééllement insérer ou supprimer, mais elle renvoie renvoie 
 l'objet soi disant créé, updaté et supprimé alors c'est suffisant pour 
 m'exercer.</p>
 <p><i>EDIT : Après moults batailles à essayer d'afficher mon user créé dans la liste de users affichés,
    via @output() event emitter, http post, ou encore query params, j'abandone et je l'affiche 
    sur la même page. Il y aurait l'option de passer par le module shared, ou encore subject
    mais j'ai d'autres choses plus simples à voir et comprendre avant. Je fignole donc un peu et je vais dégainer 
    le module node json-server qui me permettra de réellement me mettre en situation.
    Bon finalement je suis passé par le service où je gère le simili CRUD sauf le update. 
    Le hack, c'est que je shunte l'appel http du service pour retourner les nouveaux objets créés.
    Donc j'ai un comportement qui ressemble à un comportement normal. meme si je ne peux pas afficher 
    les nouveaux objets de façon uniques (/users/xx) sans continuer les modifs partout.
 </i></p>
 <p><i>EDIT 2: Me revoilà qqs jours plus tard pour mettre en place Material UI et le state Management reactif
   avec BehaviorSubject, qui contrairement à un subject classique, stocke la dernière valeur en plus de l'envoyer à ces abonnés.
   Le comportement est donc completement cohérent.
</i></p>
 <p>Voilà un exemple de routes possibles :</p>
 <code>
    https://jsonplaceholder.typicode.com/users<br />
    https://jsonplaceholder.typicode.com/users/1<br />
 </code>
 <p>Un exemple d'appel en js natif avec l'api posts</p>
 <code>
    fetch('https://jsonplaceholder.typicode.com/posts/1')<br />
    .then((response) => response.json())<br />
    .then((json) => console.log(json));<br />
</code>
<code>Renvoie :
   {{ '{' }}
      id: 1,
      title: '...',
      body: '...',
      userId: 1
   {{ '}' }}
</code>
 
 <p>Cliquez ci dessous pour visualiser ce test avec les datas de l'api.</p>
<p><a routerLink="users">Accéder à la démo des Users</a></p>
</article>

<p> Après avoir réalisé le CRUD sur la partie json-server, je suis repassé sur
   la partie json-place-holder afin de mettre en place un state management ou je ne 
   solicite l'API qu'à l'initilaisation pour récupérer les datas. Vu que je ne 
   peux rien modifier sur l'API, je gère les datas du CRUD via un BehavoirSubject 
   et ne les renvois jamais vers l'API. Le comportement devient donc parfaitement 
   cohérent. 
   J'ai aussi vu ce qu'était les interceptors et les resolvers mais je 
   n'en ai pas créer ici. j'ai par contre créé ma propre directive, 
   disponible au click sur les titres des pages, son code est visible dans le module share.
   Il manque une partie authentfication à mettre en place une fois que 
   j'aurais vu comment réaliser différents tests et ainsi avoir une bonne vision 
   d'ensemble du framework.
</p>