<section>
   
   <h1 titleEvent>JsonPlaceHolder</h1>
   <article id="json-exemple">
      <p>Voilà un exemple de routes possibles :</p>
      <div class="code">
         https://jsonplaceholder.typicode.com/users<br />
         https://jsonplaceholder.typicode.com/users/1<br />
      </div>
      <p>Un exemple d'appel en js natif avec l'api posts</p>
      <div class="code">
         fetch('https://jsonplaceholder.typicode.com/posts/1')<br />
         .then((response) => response.json())<br />
         .then((json) => console.log(json));<br />
      </div>
      <div class="code">Renvoie :
         {{ '{' }}
            id: 1,
            title: '...',
            body: '...',
            userId: 1
         {{ '}' }}
      </div>
   </article> 
   <article class="presentation">
      <p><a target="_blank" href="https://jsonplaceholder.typicode.com/">JsonPlaceHolder.typicode.com</a>
      est une api gratuite qui permet de simuler le CRUD. 
      Plusieurs sous-api sont disponibles, j'ai choisi celle des Users.
      On ne ne peux pas réellement insérer ou supprimer, mais elle renvoie 
      l'objet soi disant créé, updaté et supprimé alors c'est suffisant pour 
      m'exercer.</p>
      <p><b>Cette partie a été réalisée en 4 étapes, c'est celle où pour l'instant j'ai le plus travaillé.</b>
      </p>
      <p><b class="decalage">La première étape</b> a été celle où j'ai vraiment débuté avec Angular. J'ai récupéré les données de l'API pour 
         les afficher puis j'ai fait du fake en console pour simuler le CRUD.
      </p>
      <p><b class="decalage">La deuxième étape</b> a consisté à tout tenter pour afficher un user fraichement créer dans ma liste de users affichée. 
         Ca n'a pas été simple vu que je ne peux pas modifier les datas sur le serveur et ca m'a fait découvrir les query params ou encore les @output(). 
         J'ai finalement réussi à afficher le user créé et me suis arrêté là pour passer sur la partie JSON-server. Je ne pouvais donc pas afficher les nouveaux 
         objects de façon unique. Le hack, c'est que je shuntais l'appel http du service en stockant mes datas 
         dans un objet de type any dans le service. Ne voulant pas aller trop loin dans cette voie, j'ai continué à voir 
         d'autres tutoriaux pour continuer mon apprentissage.
      </p>
      <p><b class="decalage">Me revoilà pour la troisième étape</b> quelques jours plus tard pour mettre en place Material UI et le state Management reactif
         avec BehaviorSubject, qui contrairement à un subject classique, stocke la dernière valeur en plus de l'envoyer à ces abonnés.
         C'était plutôt facile parce que j'avais déjà fait le gros du travail en amont sans le savoir, mon behaviorSubject était un objet avec un type any 
         et non pas BehaviorSubject, et l'event emitter @output() était déjà en place. J'ai donc poursuivi sur ce pattern sur les users updatés 
         ou supprimés. Le comportement est donc maintenant completement cohérent et je ne peux pas aller beaucoup plus loin ici. <br />
         J'ai aussi vu ce qu'était les interceptors et les resolvers mais je n'en ai pas créé. J'ai par contre créé ma propre directive, disponible au click 
         sur le titre de cette page et celles des pages de la démo des users, son code est visible dans le module shared.
      </p>
      <p><b class="decalage">Enfin la dernière étape</b>, en ce moment, est celle du CSS. Il manque une partie authentification à mettre en place une fois que 
         j'aurais vu comment réaliser différents tests et ainsi avoir une bonne vision d'ensemble du framework.
      </p>
   </article>

   <article class="button-container">
      <button mat-raised-button color="warn" routerLink="users">Accéder à la démo des Users</button>
   </article>

</section>