article{
    padding: 1em;
}

a{
    margin: 0 0 0em 2em;
    color: #080808;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

h1{
    text-align: center;
    font-size: 1.5em;
}

#json-exemple{
    box-shadow: 0px 0px 9px 5px rgb(211, 209, 209);
    width: 40%;
    float: right;
    margin : 2em;
    p{
        margin-left: 1em;
    }
}

.presentation{
    p{
        text-align: justify;
    }
}

.code{
    background-color: rgb(245,245,245);
    margin: 1em;
    padding: 0.5em;
    word-wrap: break-word;
}

.button-container{
    text-align: center;
}

button{
    background-color: rgb(214, 33, 33);
    color: white;
    font-size: 1.3em;
    margin: 0 auto;
    padding: 1.5em;
    &:hover{
        background-color: rgb(189, 15, 15);
    }
}

.decalage{
    margin-left: 2em;
}

@media (max-width: 850px) { 
    #json-exemple{
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    button{
        margin: 0 auto;
    }
}

@media (min-width: 1100px) { 
    section{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) { 
    section{
        width: 70%;
        margin: 0 auto;
    }
}