<h1>Les users du serveur local</h1>

<section>
    <div *ngIf="errors.error else contentBlock" class="errors">
        <p>
            Oups, un problème est survenu.<br />
            Le serveur est certainement soit éteint soit mal configuré. Un fichier db.json.init est 
            présent dans le repo angular-practice sous assets/db-json-server.json . <span *ngIf="errors.message">Voilà le message :<br />
                {{errors.message}}</span>
            </p>
            <p>
                L'important de toute manière ici, c'est surtout le code du service mais pas les css quasi inexistants, 
                et aussi la mise en place de cette gestion d'erreur, ma réèlle première, via mon 1er Subject et aussi ng-template.
                Ca ne vous semble peut-être rien, mais de mon point de vue, je n'ai pas eu besoin d'aller pomper l'algo 
                quelque part, alors ca me fait plaisir ! Il a quand même encore fallu faire un tour sur la notice ... 
        </p>
    </div>
    
    <ng-template #contentBlock>
        <div><a routerLink="create" class="adduser" *ngIf="isServerResponse">Ajoutez un user</a></div>
        <div class="wrapper">
            <app-user *ngFor="let x of users$ | async" [user]="x"></app-user>
        </div>
    </ng-template>

</section>