<h1>Les users du serveur local</h1>


<section>
    <mat-progress-bar mode="indeterminate" color="warn" *ngIf="!isServerResponse"></mat-progress-bar>
    
    <ng-container *ngIf="errors.error else contentBlock">
        <app-error [message]="errors.message"></app-error>
    </ng-container>
    
    <ng-template #contentBlock>
        <div><a routerLink="create" class="adduser" *ngIf="isServerResponse">Ajoutez un user</a></div>
        <div class="wrapper">
            <app-user *ngFor="let x of users$ | async" [user]="x"></app-user>
        </div>
    </ng-template>

</section>