h1{
    font-size: 18px;
    text-align: center;
}

section{
    padding: 0 5% 0 5%;
}

.adduser{
    text-align: center;
    display: block;
    margin: 1em;
    color: #3d3de9;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(70px, auto);

}

mat-progress-bar{
    width: 50%;
    margin: 5rem auto;
}

