<section>
    <h1>En cours...</h1>

    <article>
        <p>Mais j'ai du arrêter dans mon élan et faire du Python pour me préparer pour un hypothétique futur client.<br />
            Je reprends peut-être la maintenance d'un robot scrappeur qui renvoie un pdf via mail synthéthisant les résultats obtenus. 
            Alors je me prépare, mon robot d'entrainement est déployé sur une lambda AWS avec selenium sur une image docker dans un registre ECR AWS. 
            Je crée le PDF avec Reportlab. Pour le mail, je n'insiste pas à créer un serveur SMTP, j'utiliserais le leur, 
            je sais déjà que c'est une app Django.
        </p>
        <p>Lorsque je suis revenu sur ce projet quelques semaines plus tard, j'ai préféré m'initier aux tests
            avec Jasmine plutôt que de me focaliser sur node pour pouvoir postuler à différentes offres d'emplois
            où l'on utilise autant Node que Java mais aussi quelque fois PHP ou encore C#, 
            mais où l'on fait partout des tests ! J'ai mis en place un pipeline CICD via Github Actions pour ne plus avoir 
            à me soucier de la mise en prod de cette démo. Je n'ai pas complètement terminé mon apprentissage concernant 
            les tests mais je reviens par ici pour avancer un peu et mettre en place les guards et l'authentification, 
            sans pour autant les abandonner.</p>
    </article>

</section>

<section>
    <h3>Le serveur Node n'est pas terminé et n'est donc pas encore ligne</h3>
    <p>J'ai néanmoins enregistrer mon 1er user dans une base Mongo Atlas depuis le formulaire  de connexion 
        et via le repo Node en local. Vous pouvez le voir ici : 
        <a target="_blank" href="https://github.com/juannitoo/angular-practice-node-backend">repo github nodeJs associé à ce front-end</a>
</section>
