section{
  width: 60%;
  margin: 0 auto;
  p{
    text-align: justify;
  }
}

#capture-ecran{
  width: 70%;
  margin: 0 auto;
}

img{
  width: 100%
}

@media (max-width: 1500px) { 
  section{
      width: 100%
  }
}