<section>
    <h1>En cours...</h1>

    <article>
        <p>Mais j'ai du arrêter dans mon élan et faire du Python pour me préparer pour un futur client.<br />
            Je reprends peut-être la maintenance d'un robot scrappeur qui renvoie un pdf via mail synthéthisant les résultats obtenus. 
            Alors en cas, je me prépare, mon robot d'entrainement est déployé sur une lambda AWS avec selenium sur une image docker dans un registre ECR AWS. Je crée le PDF avec 
            Reportlab. Pour le mail, je n'insiste pas à créer un serveur SMTP, je verrais comment ils font, je sais déjà que c'est une app Django.
        </p>
    </article>
</section>