.container{
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
}

p, a {
    display: block;
    text-align:center;
}
article{
    margin-top:2em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}