<section>

  <h1>Connexion / Inscription</h1>
  <p class="p-footer"><span style="color: red;">Si le service ne fonctionne plus, rafraichissez la page : CTRL + F5</span>. Lorsque je déploie
  une nouvelle image du conteneur Docker manuellement pour le backend (via cli), elle n'est pas prise en compte par la tâche AWS 
  et je dois en redémarrer une avec la nouvelle image qui implique une nouvelle IP. Voilà mon nouveau sujet principal, 
  et sa solution n'est pas simple à mettre en place : <br />
  <a href="https://repost.aws/knowledge-center/ecs-fargate-static-elastic-ip-address" alt="lien aws">repost_aws/ecs-fargate-static-elastic-ip-address</a>, 
  <a href="ttps://docs.aws.amazon.com/AmazonECS/latest/developerguide/create-service-console-v2.html" alt="lien aws">aws/developerguide/create-service-console-v2.html</a>, 
  <a href="https://docs.aws.amazon.com/fr_fr/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html" alt="lien aws">aws/UserGuide/elastic-ip-addresses-eip.html</a>.
</p>
  <p class="p-intro">Vous pouvez vous inscrire avec vos propres identifiants, et également vous connecter et vous déconnecter en utilisant les identifiants ci-dessous.</p>
  <p class="p-intro"><span class="span">test@test.fr</span> <span class="span">12345</span></p>
  
  <div class="form-card">
    
    <div class="connexion" (click)="onChooseForm('connexion')"
      [ngClass]="{ white: buttonValue==='Se connecter'}"><p>Connexion</p>
    </div>

    <div class="inscription" (click)="onChooseForm('inscription')"
      [ngClass]="{ white: buttonValue==='S\'inscrire'}"><p>Inscription</p>
    </div>
    
    <form [formGroup]="signUpForm" (submit)="onSubmitForm()">


      <mat-form-field  appearance="fill" class="form-group">
        <mat-label for="email">Email :</mat-label>
        <input matInput type="text" class="input-text" id="email" formControlName="email">
        </mat-form-field>
        <small class="error-text" *ngIf="signUpForm.get('email')?.hasError('emailValidatorError')">
          L'adresse email n'a pas la forme requise : x@x.xx
        </small>
        <small class="error-text" *ngIf="signUpForm.get('email')?.hasError('isEmailUsed') && buttonValue === 'S\'inscrire'">
          Adresse email déjà utilisée
        </small>

      <ng-container *ngIf="buttonValue === 'Se connecter'; else templateB" >
        <mat-form-field  appearance="fill" class="form-group">
          <mat-label for="connectionPassword">Mot de passe :</mat-label>
          <input matInput [type]="hideConnectionPassword ? 'password' : 'text'" 
            class="input-text" id="connectionPassword" 
            formControlName="connectionPassword"
          >
          <mat-icon matSuffix (click)="hideConnectionPassword = !hideConnectionPassword"
            >{{hideConnectionPassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error>minimum 5 caractères</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-template #templateB>
        <mat-form-field appearance="fill" class="form-group" [formGroup]="passwordForm">
          <mat-label for="password">Mot de passe :</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" 
            class="input-text" class="input-text" id="password" 
            formControlName="password"
          >
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error>minimum 5 caractères</mat-error>
        </mat-form-field>

        <mat-form-field  appearance="fill" class="form-group" [formGroup]="passwordForm">
          <mat-label for="password2">Répétez votre mot de passe :</mat-label>
          <input matInput [type]="hidePassword2 ? 'password' : 'text'" 
            class="input-text" id="password2" 
            formControlName="password2"
          >
          <mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">
            {{hidePassword2 ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <small class="error-text" *ngIf="showPasswordsError$ | async">
          Les mots de passe doivent correspondre et respecter les règles
        </small>
      </ng-template>



      <div class="action-buttons">
        <button mat-raised-button id="submit-btn"
          color="primary"
          type="submit" 
          [disabled] = "signUpForm.invalid"
        >{{ buttonValue }}</button>
      </div>
      
      <div class="error-message-node">
        <p *ngIf="errorMessageIdentifiant">Les identifiants ne correspondent pas</p>
        <p *ngIf="errorMessageEmailExistant">Cet adresse email est déjà dans la base.<br />
          Réinitialiser le mot de passe n'est pas encore réalisable, mais ce serait l'envoi d'un mail 
          contenant un lien vers ce même formulaire d'inscription avec l'adresse mail bloquée. la CNIL ne veut 
          plus de mot de passe via mail.
        </p>
      </div>

    </form>

  </div>

  <p class="p-footer">
    Vous pouvez voir le code du composant 
    <a href="https://github.com/juannitoo/angular-practice/tree/main/src/app/auth/components/login" 
      target="_blank">ici</a>, celui du service d'authentification 
    <a href="https://github.com/juannitoo/angular-practice/blob/main/src/app/core/services/auth.service.ts"
      target="_blank">là</a>, et enfin celui du contrôleur Node 
    <a href="https://github.com/juannitoo/angular-practice-node-backend/blob/master/controllers/users.js"
      target="_blank">ici</a>.
  </p>

</section>
