<section>
  <p style="text-align:center;">test@test.fr et mdp 12345</p>

  
  <p style="text-align:center;">Le service est fonctionnel mais le serveur node n'est pas encore en ligne. 
    Vous pouvez trouver le code du component 
    <a href="https://github.com/juannitoo/angular-practice/tree/main/src/app/auth/components/login" 
      target="_blank">ici</a> et celui du service d'authentification 
    <a href="https://github.com/juannitoo/angular-practice/blob/main/src/app/core/services/auth.service.ts"
      target="_blank">là</a>.
  </p>
  
  <div class="form-card">
    
    <div class="connexion" (click)="onChooseForm('connexion')"
      [ngClass]="{ white: buttonValue==='Se connecter'}"><p>Connexion</p>
    </div>

    <div class="inscription" (click)="onChooseForm('inscription')"
      [ngClass]="{ white: buttonValue==='S\'inscrire'}"><p>Inscription</p>
    </div>
    
    <form [formGroup]="signUpForm" (submit)="onSubmitForm()">


      <mat-form-field  appearance="fill" class="form-group">
        <mat-label for="email">Email :</mat-label>
        <input matInput type="text" class="input-text" id="email" formControlName="email">
        <mat-error>Ce champ est requis, par ex: x@x.x</mat-error>
      </mat-form-field>

      <ng-container *ngIf="buttonValue === 'Se connecter'; else templateB" >
        <mat-form-field  appearance="fill" class="form-group">
          <mat-label for="connectionPassword">Mot de passe :</mat-label>
          <input matInput [type]="hideConnectionPassword ? 'password' : 'text'" 
            class="input-text" id="connectionPassword" 
            formControlName="connectionPassword"
          >
          <mat-icon matSuffix (click)="hideConnectionPassword = !hideConnectionPassword"
            >{{hideConnectionPassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error>Ce champ est requis, minimum 5 caractères</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-template #templateB>
        <mat-form-field appearance="fill" class="form-group" [formGroup]="passwordForm">
          <mat-label for="password">Mot de passe :</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" 
            class="input-text" class="input-text" id="password" 
            formControlName="password"
          >
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error>Ce champ est requis, minimum 5 caractères</mat-error>
        </mat-form-field>

        <mat-form-field  appearance="fill" class="form-group" [formGroup]="passwordForm">
          <mat-label for="password2">Répétez votre mot de passe :</mat-label>
          <input matInput [type]="hidePassword2 ? 'password' : 'text'" 
            class="input-text" id="password2" 
            formControlName="password2"
          >
          <mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">
            {{hidePassword2 ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <small class="error-text" *ngIf="showPasswordsError$ | async">Les mots de passe doivent correspondre</small>
      </ng-template>



      <div class="action-buttons">
        <button mat-raised-button 
          color="primary"
          type="submit" 
          [disabled] = "signUpForm.invalid"
        >{{ buttonValue }}</button>
      </div>

      <div class="error-identifiant">
        <p *ngIf="errorMessageIdentifiant">Les identifiants ne correspondent pas</p>
      </div>

    </form>

  </div>

</section>
