h1{
  text-align: center;
  font-size: 1.5em;
}

.form-card {
  box-sizing: border-box;
  width: 50%;
  margin: 5em auto;
  box-shadow: 0px 0px 22px 5px rgb(210,210,210);
  border-radius: 5px;
}

form{
  padding-top: 1.5em;
}

.form-group {
  margin: 5% 10% 0% 10%;;
  width: 80%;
}

.inscription, .connexion{
  width : 50%;
  display: inline-block;
  background-color: rgb(71, 88, 184);
  color:rgb(150, 150, 150);
  p{
    text-align: center;
    font-size : 1.5em;
  }
  &:hover{
    cursor: pointer;
  }

}

.p-intro, h3{
  text-align:center;
  font-weight: bold;
}

.p-footer{
  text-align:center;
}

.span{
  padding: 1em;
}

.white {
  color: rgb(255, 255, 255);
}

.input-text {
  width: 100%;
}

.action-buttons {
  width: 100%;
  padding-bottom: 1em;
}

button {
  display: block;
  margin: 1em auto;
  font-size: 1.2em;
  &:hover{
    color:white;
  }
}

.error-text{
  color: rgb(255, 0, 0);
  display: block;
  padding-left: 12%;
  margin-top : -1em,
}

.error-message-node{
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 0 1em 2em 1em;

}

.img-aws{
  width: 100%;
  margin-top: 1em;
  border: 1px solid rgb(179, 179, 179)
}


@media (min-width: 1350px) { 
  .form-card{
    width: 30%;
    margin-bottom: 5em;
  }
}

@media (max-width: 750px) { 
  .form-card{
      width: 70%;
      margin-bottom: 5em;
  }
}

@media (max-width: 450px) { 
  .form-card{
      width: 100%;
      margin-bottom: 5em;
  }
}