.form-card {
  box-sizing: border-box;
  width: 50%;
  margin: 5em auto;
  box-shadow: 0px 0px 22px 5px rgb(210,210,210);
  border-radius: 5px;
}

form{
  padding-top: 1.5em;
}

.form-group {
  margin: 5% 10% 0% 10%;;
  width: 80%;
}

.inscription, .connexion{
  width : 50%;
  display: inline-block;
  background-color: rgb(71, 88, 184);
  color:rgb(150, 150, 150);
  p{
    text-align: center;
    font-size : 1.5em;
  }
  &:hover{
    cursor: pointer;
  }
}

.white {
  color: rgb(255, 255, 255);
}

.input-text {
  width: 100%;
}

.action-buttons {
  width: 100%;
  padding-bottom: 1em;
}

button {
  display: block;
  margin: 1em auto;
  font-size: 1.2em;
  &:hover{
    color:white;
  }
}

.error-text{
  color: rgb(211, 17, 17);
  display: block;
  padding-left: 10%;
  margin-top : -1em,
}


@media (min-width: 1350px) { 
  .form-card{
    width: 30%;
    margin-bottom: 5em;
  }
}

@media (max-width: 750px) { 
  .form-card{
      width: 70%;
      margin-bottom: 5em;
  }
}

@media (max-width: 450px) { 
  .form-card{
      width: 100%;
      margin-bottom: 5em;
  }
}