<section>
    <p><a routerLink="../../" class="retour" >Retour</a></p>

    <form [formGroup]="userForm" class="box-user" *ngIf="user$">
        <div class="form-input">
            <label for="name">Nom :</label>
            <input type="text" class="input-text" id="name" formControlName="name" />
        </div>
        <div class="form-input">
            <label for="username">Pseudo :</label>
            <input type="text" class="input-text" id="username" formControlName="username" />
        </div>
        <div class="form-input">
            <label for="email">Email :</label>
            <input type="text" class="input-text" id="email" formControlName="email" />
        </div>
        <div class="form-input">
            <label for="city">Ville :</label>
            <input type="text" class="input-text" id="city" formControlName="addressCity" />
        </div>
        <div class="form-input">
            <label for="phone">Tel :</label>
            <input type="text" class="input-text" id="phone" formControlName="phone" />
        </div>
        <div class="form-input">
            <label for="website">Site web :</label>
            <input type="text" class="input-text" id="website" formControlName="website" />
        </div>
        <div class="form-input">
            <label for="company">Entreprise : </label>
            <input type="text" class="input-text" id="company" formControlName="companyName" />
        </div>

        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()">Enregistrer</button>
        </div>
    </form>

</section>

