header { 
    width: 100vw;
    background-color: rgb(240, 240, 240);
    min-height: 8vh;
    position: fixed;
    top: 0;
    left : 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1000 // matinput et accordeon je ne sais pas combien
}

.logo{
    flex: 300px;
    text-align: center;
}

nav{
    text-align: center;
    flex: 600px;
}

.logo-img{
    width: 200px;
}

.text-logo{
    margin: -1.1rem 0rem 0rem 6.5rem;
}

.logo-letter{
    font-size: 1.6em;
    color: rgb(141, 141, 141);
    font-weight: bold;
    font-style: italic;
}

a, #log-out{
    margin: 0px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;;
    padding: 0.6em;
    &:hover {
        background-color: white;
        box-shadow: 0px 0px 40px 25px white;
        cursor: pointer;
    }
}

.active {
    color: rgb(211, 17, 17);
    background-color: white;
    box-shadow: 0px 0px 30px 20px white;
}

#menu{
    display: none;
    margin: 0.2em;
    z-index: 10;
}

@media (max-width: 1260px) { 
    nav a, #log-out{
        font-size: 1.1rem;
        margin: 0 auto;
        text-align: center;
    }
}

// 938
@media (max-width: 900px) { 
    nav{
        display:block;
        margin: 2rem 0 1rem 0;
        text-align: center;
        a{
            font-size: 1.2rem;
        }
    }
    .active {
        color: rgb(211, 17, 17);
        background-color: white;
        box-shadow: 0px 0px 10px 5px white;
    }  
}

@media (max-width: 590px) { 

    #menu{
        display: block;
        position: fixed;
        top : 20px;
        left: 20px;
        scale: 1.2;
        z-index: 100;
    }
    
    nav{
        position: fixed;
        top : -30px;
        left: 0px;
        width: 100%;
        background-color: rgb(245,245,245);
        z-index: 5;
        display: none;
    }

    a, #log-out{
        display:block;
        margin: 0 auto;
        text-align: center;
    }

}

@media (min-width: 480px) { 
   
    nav{
        display: block;
    }
}