<header>
  <div class="logo">
    <img class="logo-img" src="../../../../assets/images/angular-logo.png" @slideLogo/>
    <div class="text-logo" @slideTextContainer>
      <span class="logo-letter" [@slideLetter]="slideLetterState">P</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">r</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">a</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">c</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">t</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">i</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">c</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">e</span>
    </div>
  </div>
  <nav @slideNav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="jsonplaceholder" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">JsonPlaceHolder</a>
    <a routerLink="json-server" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Json-server</a>
    <a routerLink="nodeJs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">NodeJs</a>
  </nav>
</header>
