header { 
    width: 90vw;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding-bottom: 1rem;
    height: 15vh;
}

.logo{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.logo-img{
    width: 300px;
}

.text-logo{
    font-size: 1.8em;
    margin: -0.9em 0px 2em 0em;
}

.logo-letter{
    opacity : 0; 
    font-style: italic;
}

nav{
    text-align: center;
    // width: 90vw;
}

a{
    margin: 0 10px;
    color: #3d3de9;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: #a7a7db;
    text-decoration: underline;
}