<header>
  <div class="logo">
    <img class="logo-img" src="../../../../assets/images/angular-logo.png"/>
    <div class="text-logo" @slideTextContainer>
      <span class="logo-letter" [@slideLetter]="slideLetterState">P</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">r</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">a</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">c</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">t</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">i</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">c</span>
      <span class="logo-letter" [@slideLetter]="slideLetterState">e</span>
    </div>
  </div>
  <mat-icon id="menu" (click)="toggleMenu()">menu</mat-icon>
  <nav>
    <a routerLink="" (click)="hideNavOnLittleScreen()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="jsonplaceholder" (click)="hideNavOnLittleScreen()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">JsonPlaceHolder</a>
    <a routerLink="json-server" (click)="hideNavOnLittleScreen()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Json-server</a>
    <a routerLink="nodeJs" (click)="hideNavOnLittleScreen()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">NodeJs</a>
    <ng-container *ngIf="!(isLogged$ | async) else templateB">
      <a routerLink="auth/login" (click)="hideNavOnLittleScreen()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Connexion</a>
    </ng-container>
    <ng-template #templateB>
      <span id="log-out" (click)="onLogOut()">Déconnexion</span>
    </ng-template>
  </nav>
</header>
