.box{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin : 0 2em 1em 2em;
    box-shadow: lightgray 4px 4px 10px;
    >p{
        font-size: 0.8em;
        font-weight: Bold;
        margin: 0;
    }
    >button{
        margin-top: 10px;
        background-color: #5fb362;
        border: none;
        color: white;
        padding: 4px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8em;
        width: 30%;
        &:hover{
            cursor: pointer;
        }
    }
}

.name{
    font-size: 1em;
}

.box-user{
    background-color: rgb(240, 240, 240);
    width: 50%;
    padding: 10px;
    margin :2em auto;
    box-shadow: lightgray 4px 4px 10px;
    >p{
        font-size: 0.8em;
        font-weight: normal;
        margin: 0;
    }
}

.user-button{
    background-color: #5fb362;
    border: none;
    margin: 1em 2em 1em 0;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 4px 10px;
    display: inline-block;
    font-size: 0.8em;
    width: 25%;
    &:hover{
        cursor: pointer;
    }
}

#suppression{
    background-color: #b15337;
}

#fermer{
    display: block;
    background-color: #4060e1;
}
