<section>
    <p><a routerLink="./../" class="retour" >Retour</a></p>

    <div class="form-card" *ngIf="!newUser">
        <h4>Créez un nouvel utilisateur</h4>

        <form [formGroup]="userCreateForm">
            <mat-form-field  appearance="fill" class="form-group">
                <mat-label for="name">Nom :</mat-label>
                <input matInput type="text" class="input-text" id="name" formControlName="name">
                <mat-error>Ce champ est requis, minimum 5 caractères</mat-error>
            </mat-form-field>
            <mat-form-field  appearance="fill" class="form-group">
                <mat-label for="username">Pseudo :</mat-label>
                <input matInput type="text" class="input-text" id="username" formControlName="username">
                <mat-error>Ce champ est requis, maximum 50 caractères</mat-error>
            </mat-form-field>

            <div class="action-buttons">
                <button mat-raised-button type="submit" 
                    (click)="onSubmitForm()"
                    [disabled]="userCreateForm.invalid">Enregistrer</button>
            </div>
        </form>
    </div>
</section>
