<section>
  
  <div class="form-card">
    
    <div id="connexion" (click)="chooseForm('connexion')"
      [ngClass]="{ red: buttonValue==='Se connecter'}"><p>Connexion</p>
    </div>

    <div id="inscription" (click)="chooseForm('inscription')"
      [ngClass]="{ red: buttonValue==='S\'inscrire'}"><p>Inscription</p>
    </div>

    <form [formGroup]="signUpForm" (submit)="onSubmitForm()">

      <mat-form-field  appearance="fill" class="form-group">
        <mat-label for="email">Email :</mat-label>
        <input matInput type="text" class="input-text" id="email" formControlName="email">
        <mat-error>Ce champ est requis, par ex: x@x.x</mat-error>
      </mat-form-field>

      <ng-container *ngIf="buttonValue === 'Se connecter'; else templateB" >
      <mat-form-field  appearance="fill" class="form-group">
        <mat-label for="connectionPassword">Mot de passe :</mat-label>
        <input matInput type="password" class="input-text" id="connectionPassword" formControlName="connectionPassword">
        <mat-error>Ce champ est requis, minimum 5 caractères</mat-error>
      </mat-form-field>
      </ng-container>

      <ng-template #templateB>
        <mat-form-field appearance="fill" class="form-group" [formGroup]="passwordForm">
          <mat-label for="password">Mot de passe :</mat-label>
          <input matInput type="password" class="input-text" id="password" formControlName="password">
          <mat-error>Ce champ est requis, minimum 5 caractères</mat-error>
        </mat-form-field>

        <mat-form-field  appearance="fill" class="form-group" [formGroup]="passwordForm">
          <mat-label for="password2">Répétez votre mot de passe :</mat-label>
          <input matInput type="password" class="input-text" id="password2" formControlName="password2">
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <small class="error-text" *ngIf="showPasswordsError$ | async">Les mots de passe doivent correspondre</small>
      </ng-template>



      <div class="action-buttons">
        <button mat-raised-button 
          color="primary"
          type="submit" 
          [disabled] = "signUpForm.invalid"
        >{{ buttonValue }}</button>
      </div>

    </form>

  </div>

</section>
