#content{ 
    // background-color: rgb(255,255,255);
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    min-height: 100vh;
}

#dynamic-content{
    background-color: rgb(255,255,255);
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    margin-top: 1.5em;
    border-radius: 5px;
}