#content{ 
    max-width: 95vw;
    min-height: 100vh;
    margin: 0 auto;
}

#dynamic-content{
    background-color: rgb(255,255,255);
    padding: 1em;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 4px;
    min-height: 78vh;
}