// .form-card {
//     box-sizing: border-box;
//     width: 50%;
//     margin: 20px auto;
//     padding: 10px 30px;
//     box-shadow: lightgray 4px 4px 20px;
//   }
  
.form-group {
  margin: 10px auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input, textarea {
  width: 50%;
}

.action-buttons {
  width: 100%;
}

button {
  display: block;
  margin: 20px auto;
}

.box-user{
  background-color: rgb(240,240,240);
  box-sizing: border-box;
  width : 50%;
  margin: 2em auto;
  padding: 0.4em;
  border-radius: 5px;
  box-shadow: rgb(149, 149, 149) 4px 4px 20px;
}

#name{
  display: block;
  font-size : 0.9em;
  margin: 0 0 0 0.3em;
}

.details{
  display: block;
  font-size : 0.6em;
  height : 1.5em;
  margin: 0 0 0em 0.5em;
}

.retour{
  display: block;
  text-align: center;
  margin: 3em 0 0 0;
  color: #3d3de9;
  text-decoration: none;
  font-weight: bold;
  font-size : 1.2em;
  cursor: pointer;
  &:hover {
      text-decoration: underline;
  }
}