<p>Ce repo me permet de m'initier aux concepts 
    d'angular et en même temps vous permet d'évaluer un 
    peu mieux mon niveau.
</p>
<p><b><i>JsonPlaceHolder</i></b> est une API REST
    gratuite de démo qui permet de récupérer des datas, 
    et de faire un simili CRUD. J'ai mis en place une 
    architecture modulaire et lazy loadé ce module. 
    C'est le bac à sable, un peu frustrant vu les limitations
    de l'api, ce qui m'a conduit vers json-server.
</p>
<p><b><i>Json-server</i></b> est un module node qui permet de réellement 
    mettre à jour ou supprimer les datas que je vais envoyer 
    via mes requetes http, et non plus seulement faire du fake 
    en console. Il faut donc avoir un serveur qui tourne en 
    parallèle. Les datas ont été récupérées sur l'api jsonplaceholder
</p>