<section class="intro">
  <article class="art-intro" @slideInitiation>
    <h1>Mon initiation avec Angular</h1>
    <p><b>C</b>e repository me permet de m'initier aux concepts d'Angular et en même temps 
      vous permet d'évaluer un peu mieux mon niveau. Il est déployé sur l'infrastructure serverless AWS S3 
      pour que vous puissiez l'essayer. 
      <a href="https://github.com/juannitoo/angular-practice" target="_blank">Ici</a> le lien vers le repository</p>
    <p><b>J</b>'ai pour l'instant créé 2 features modules,
      json-place-holder et json-server qui sont des sources de datas distinctes.
      Et je crée en ce moment un troisième back-end NodeJs pour continuer
      ma progression.
    </p>
    <img src="assets/images/angular-100px.png" alt="" class="img-encart" />
  </article>

  <article class="fonctionnalites" @slideFonctionnalites>
    <article class="art-fonctionnalites" id="art-1">
      <h5>Mis en place</h5>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/tree/main/src/app"><b>A</b>rchitecture Modulaire</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/blob/main/src/app/core/services/users.services.ts"><b>R</b>eactive state</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/blob/main/src/app/app-routing.module.ts"><b>L</b>azy loading</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/blob/main/src/app/core/services/js-users.service.ts"><b>C</b>RUD</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/blob/main/src/app/json-place-holder/components/user/user.component.html"><b>M</b>aterial UI et CSS</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/blob/main/src/app/shared/directives/title-event.directive.ts"><b>D</b>irective personnalisée</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/tree/main/src/app/shared/animations"><b>A</b>nimations personnalisées</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/blob/main/src/app/core/interceptors/global-http-error.interceptor.ts"><b>G</b>estionnaire d'erreurs</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/commit/6f64f97aa40015447474e5d8abb4aa175c90ee8f"><b>M</b>igration Angular 14 -> 15 -> 16</a></p>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/blob/main/.github/workflows/gh-pages.yml"><b>C</b>I/CD vers AWS S3 via Github Actions</a></p>
    </article>
    
    <article class="art-fonctionnalites"  id="art-2">
      <h5>En cours</h5>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice/blob/main/src/app/json-server/components/users-list/users-list.component.spec.ts">
        <b>T</b>ests unitaires et fonctionnels</a>
      </p>
      <p>Code-coverage 40%</p>
      
      <h5 id="h5-a-voir">A voir et/ou faire</h5>
      <p><a target="_blank" href="https://github.com/juannitoo/angular-practice-node-backend"><b>A</b>uthentification via NodeJs</a></p> 
      <p><b>R</b>esolver</p>
      <p><b>C</b>omposant StandAlone</p>
      <p><b>S</b>ignaux</p>

    </article>
  </article>
</section>

<section class="encart-container">
  <article class="encart" routerLink="jsonplaceholder" @slideEncart>
    <img src="assets/images/jsonplaceholder.png" alt="" class="img-encart" />
    <hr>
    <p class="p-encart"><b><i>JSONPlaceholder</i></b> est une API REST
        gratuite de démo qui permet de récupérer des datas, 
        et de faire un simili CRUD. J'ai mis en place une 
        architecture modulaire et lazy loadé ce module, 
        mais aussi un réactive state. C'est la partie la plus aboutie.
    </p>
  </article>

  <article class="encart" routerLink="json-server" @slideEncart2>
    <img src="assets/images/json-server.png" alt="" class="img-encart"  />
    <hr>
    <p class="p-encart"><b><i>Json-server</i></b> est un module node qui permet de réellement 
        mettre à jour ou supprimer les datas que je vais envoyer 
        via mes requetes http, et non plus seulement faire du fake 
        en console. Il faut donc avoir un serveur qui tourne en 
        parallèle. Les datas ont été récupérées sur l'api jsonplaceholder pour initialiser
        le serveur.</p>
  </article>

  <article class="encart" routerLink="nodeJs" @slideEncart>
    <img src="assets/images/node-logo.png" alt="" class="img-encart" id="img-node" />
    <hr>
    <p class="p-encart"><b><i>NodeJs</i></b>  me permettra de réaliser une petite API rest 
      avec Mongo et Express pour avoir de la persistance dans les datas et où je pourrai 
      mettre en place une vrai authentification JWT.
    </p>
  </article>
</section>