/* You can add global styles to this file, and also import other style files */


html, body { 
  min-height: 100vh; 
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/images/beautiful_singapore_reflection-wallpaper-3440x1440.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p{
  font-size: 0.9em;
}

