html, body { 
  height: 100vh; 
  width: 98vw;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(240, 240, 240);
}

p{
  font-size: 0.9em;
}

@media only screen and (max-width: 1200px) {
  html, body{
    width: 90vw;
    margin: 0 auto;
  }
}