<article *ngIf="user" class="box">
  <p class="name">{{ user.name }}</p>
  <p class="details">Id : <b>{{ user.id }}</b> -- pseudo : <b><span id="pseudo">{{ user.username }}</span></b></p>
  <button (click)="showUser(user.id)" class="afficher">Afficher</button>
</article>
<article *ngIf="user$ | async as u" class="box-user">
  <p id="name">{{ u.name }}</p>
  <p class="details maj">Id : {{ u.id }}</p>
  <p class="details">pseudo : {{ u.username }}</p>
  <p *ngIf="u.email" class="details">Email : {{ u.email }}</p>
  <p *ngIf="u.address" class="details">Ville : {{ u.address.city }}</p>
  <p *ngIf="u.phone" class="details">Tel : {{ u.phone }}</p>
  <p *ngIf="u.website" class="details">Site Internet : {{ u.website }}</p>
  <p *ngIf="u.company" class="details">Entreprise : {{ u.company.name }}</p>
  <button (click)="updateUser(u.id, formvalue)">Modifier</button>
  <button (click)="delUser(u.id)">Supprimer</button><br />
  <button (click)="backToList()">Fermer</button>
  <p *ngIf="modifUser">Pour la modification / suppression il faut voir du côté json-server</p>
</article>

