.box{
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    width: 520px;
    box-shadow: 4px 4px 10px rgb(195, 195, 195);
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box-user{
    background-color: rgb(240,240,240);
    width : 50%;
    margin: 2em auto;
    padding: 0.4em;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(170, 170, 170);
}

.name{
    font-size : 1em;
}

.user-list-item{
    font-size : 1em;
}

.afficher{
    border: none;
    width: 20px;
    // scale: 3;
    margin-right: 2em;
    &:hover{
        cursor: pointer;
    }
}
