.box{
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    margin: 2.5%;
    padding: 0.2em;
    display: inline-block;
    width: 45%;
    box-shadow: 4px 4px 10px rgb(195, 195, 195);
}


.box-user{
    background-color: rgb(240,240,240);
    width : 50%;
    margin: 2em auto;
    padding: 0.4em;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(170, 170, 170);
}

#name{
    display: block;
    font-size : 0.9em;
    margin: 0 0 0 0.3em;
}

.details{
    display: block;
    font-size : 0.7em;
    height : 1.5em;
    margin: 0 0 0em 0.5em;
}

button {
    width : 100px;
    font-size : 0.8em;
    margin : 0.2em;
}
