<mat-accordion>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngIf="user"
                       [ngClass]="{ 'opened': panelOpenState === true}">

    <mat-expansion-panel-header>
        <mat-panel-title class="bold">
          {{ user.id }}
        </mat-panel-title>
        <mat-panel-description class="bold">
          {{ user.name }}       
        </mat-panel-description>
        <mat-panel-description class="bold">
          {{ user.username }}       
        </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- I'm visible because I am open -->
    <article class="details">
      <p *ngIf="user.email" class="box">   
        <span class="intitule">Email :</span>          
        {{ user.email }}
      </p>
      <p *ngIf="user.address" class="box"> 
        <span class="intitule">Ville :</span>          
        {{ user.address.city }}
      </p>
      <p *ngIf="user.phone" class="box">   
        <span class="intitule">Tel :</span>            
        {{ user.phone }}
      </p>
      <p *ngIf="user.website" class="box"> 
        <span class="intitule">Site Internet :</span>  
        {{ user.website }}
      </p>
      <p *ngIf="user.company" class="box"> 
        <span class="intitule">Entreprise :</span>     
        {{ user.company.name }}
      </p>
      <p>
        <span class="margin-left actions" >
          <button mat-raised-button color="primary" (click)="updateUser(user.id, formvalue)">
            <mat-icon>edit</mat-icon> Modifier
          </button>
        </span>

        <span class="actions">
          <button mat-raised-button color="warn" (click)="delUser(user.id)">
            <mat-icon>delete</mat-icon> Supprimer
          </button>
        </span>
        
      </p>
      <p *ngIf="modifUser">Pour la modification / suppression il faut voir du côté json-server, 
        en attendant behaviorSubject et le state management reactif qui arrivent.
      </p>
    </article>
    <!-- <button (click)="backToList()">Fermer</button> -->
  </mat-expansion-panel>

</mat-accordion>
