div {
    margin : 0;
    padding : 0;
}

.box{
    background-color: rgb(200,200,200);
    margin: 0.5em;
    padding: 1em;
    border-radius: 5px;
}

.name{
    font-size : 1.5rem;
}

.details{
    font-size : 0.9rem;
}
