<p><a href="https://www.npmjs.com/package/json-server#getting-started" alt="lien vers npm json-server">
    Json-server</a> est une API de démo concué par les même que ce qui 
    ont fait jsonplaceholder et qui permet d'interagir avec une api de test.
</p>
<p>J'ai choisi de continuer avec les users de jsonplaceholder que vous pouvez visualiser
    <a href="https://jsonplaceholder.typicode.com/users/" alt="lien">ici</a>.
    Ce sera mon fichier de départ pour le serveur. Le CRUD sera fait complet ici à terme.
</p>